.orders {
  list-style: none;
  padding: 0;
  margin: 0;
}

.orders__item h1 {
  margin: 0;
  font-size: 1rem;
}

.order__empty{
  text-align: center;
}
/* .orders__item {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin-bottom: 1rem;
  width:100%;
} */
.orders__item {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%; /* Ensure it fits inside the parent*/
  max-width: 100%; /* Prevents it from exceeding screen width */
  box-sizing: border-box; /* Ensures padding doesn't add extra width */
  overflow-x: auto; /* Allows scrolling within the element if needed */
}


.orders__products {
  list-style: none;
  margin: 0;
  padding: 0;
}

.orders__products-item {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #00695c;
  color: #00695c;
}
