<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/403.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="container__admin__restriction">
        <h1>403</h1>
        <h2>Forbidden</h2>
        <p>You do not have permission to access this page.</p>
        <a class="hmpage" href="/">Go to Homepage</a>
    </div>
    <%- include('./includes/footer.ejs') %>
    <%- include('includes/end.ejs') %>