doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/main.css")
    body 
        header.main-header
            nav.main-header-nav
                ul.main-header-list-item
                    li.main-header-item
                        a.active(href="/") My Shop
                    li.main-header-item
                        a(href="/admin/add-product") Add Products

        main
            h1 My Products
            p List of all the products...           