doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block styles
        title #{pageTitle}
    body 
        header.main-header
            nav.main-header-nav
                ul.main-header-list-item
                    li.main-header-item
                        a(href="/", class=(path === '/' ? 'active' : '')) My Shop
                    li.main-header-item
                        a(href="/admin/add-product", class=(path === '/admin/add-product' ? 'active' : '')) Add Products
        block content